body{
    font-family: sans-serif;
    background: rgb(215, 215, 215);
    font-optical-sizing: auto;
    line-height: 1.5;
}

.logo{
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 10px;
    align-items: center;
}

img{
    max-width: 100%;
    height:auto;
}

h1{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 60px;
}

h2{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    margin-bottom: -20px;
}

h3,h4{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

p{
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

a:visited
{
    color: rgb(86, 72, 66);
    font-weight:normal;
}

.header{
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 30px;
    border-bottom: 3px solid black;
    padding: 0px;
    /*border-radius: 25px;*/
}

.projet-texte{
    max-width: 1300px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-flow: row dense;
    align-items: center;

}

@media (min-width: 640px){
    .index .projet-texte {
        grid-template-columns: repeat(2, minmax(320px, 1fr));
        font-size: 16px;
    }
}

.projet-large{
    grid-column: span 2;
    grid-row: span 2;
    column-gap: 5px;
}

.plein{
    grid-column: span 3;
}

.nav{
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
}

.nav a {
    text-decoration: none;
    color: black;
}

header-title{
    margin: 0;  
}


.index .grid2{
    max-width: 1300px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-flow: row dense;
    align-items: center;
}


.index .grid{
    max-width: 1350px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: minmax(1fr 1fr 1fr);
    justify-content: center;
    justify-items: center;
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-flow: row dense;
    align-items: center;
}


/*Transaparence texte sur image*/
.item{
    display:grid;
    height: fit-content;
    width: fit-content;
    background: rgb(0, 0, 0);
    text-decoration: none;
}

.item>*{
   grid-column: 1;
   grid-row: 1;
   justify-self: center;
    align-self: center;
    color: rgb(255, 255, 255);
   transition: 0.8s;
   justify-content: center;
 }

.item h2{
    font-size: 20px;
    opacity: 0;
}

.item:hover img{
    opacity: 0;
}

.item:hover h2{
    opacity: 1;
}


.footer{
    font-size: 12px;
    margin-top: 80px;
    text-align: center;
    background: rgb(40, 40, 40);
    color: white;
    padding: 40px;
}

.grid5{
    max-width: 1300px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-flow: row dense;
    align-items: center;
}